Options -Indexes

RewriteEngine On

RewriteRule ^search/?$ ./preResults.php [L,QSA]
RewriteRule ^msa/?$ ./result.php [L,QSA]
RewriteRule ^tool/?$ ./tool.php [L,QSA]
RewriteRule ^disease/?$ ./diseases.php [L,QSA]

AddOutputFilterByType DEFLATE text/css application/x-javascript text/x-component text/html text/plain text/xml application/javascript
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4.0[678] no-gzip
BrowserMatch bMSIE !no-gzip !gzip-only-text/html

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
    ExpiresDefault "access plus 4 weeks"
</FilesMatch>

